---
export interface Props {
	title: string;
	description: string;
	image?: string;
	source?: string;
}

import {
	TWITTER_HANDLE,
} from './../config';

const { 
	title,
	description,
	image = '/images/open-graph-card.png',
	source = 'https://www.juststeveking.uk/',
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:locale" content="en_GB">
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta name="twitter:creator" content={TWITTER_HANDLE}>
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- RSS Feed -->
<link rel="alternate" type="application/rss+xml" href={`${Astro.site}rss.xml`} />

<!-- Site Manifest -->
<link rel="canonical" href={source}>
<link rel="icon" href="/favicon.ico">
<link rel="apple-touch-icon" href="/favicon.png">
<meta name="theme-color" content="#2dd4bf">
<link rel="manifest" href="/site.webmanifest">
